<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue</title>
</head>
<script type="text/javascript" src="../JavaScript/vue.js"></script>
<body>
<!--标签体使用插值语法 指令语法用于解析标签(包括:属性标签、标签体内容、绑定事件.....)-->
<div id="root">
    <h1>同学您好！</h1>
    <h1>Hello,{{name}}</h1>
    <a :href="tow.url">指令语法:点我进入{{tow.name}}</a><br>
    <a v-bind:href="tow.url.toUpperCase()">指令语法:点我进入{{tow.name}}2</a><br>
    <!--
        1.v-bind绑定数据是单向的
        2.v-model是双向绑定(v-model只支持表单元素，输入类元素)
    -->
    <!--    v-bind可以简写成":" 例:
                                   v-bind:value="?" -->
    <label>
        单向数据绑定:
        <input type="text" v-bind:value="name"><br>
    </label>
    <!--    v-model可以简写成":" 例:
                                   v-model="?" -->
    <label>
        双向数据绑定:
        <input type="text" v-model:value="name"><br>
    </label>
    <!--    点击函数,传参后面跟括号，不传就不写-->
    <button @click="showInfo($event)">点我哈喽</button>
    <br>
    <!--    默认跳转网页-->
    <a :href="tow.url" @click="showInfo01">关闭跳转网页</a><br>
    <!--    阻止默认事件-->
    <a :href="tow.url" @click.prevent="showInfo01">关闭跳转网页</a><br>
    <!--    事件冒泡-->
    <div @click="showInfo01">
        <button @click="showInfo01">冒泡</button>
    </div>
    <!--    阻止事件冒泡-->
    <div @click="showInfo01">
        <button @click.stop="showInfo01">阻止冒泡</button>
    </div>
    <!--    事件无限触发-->
    <button @click="showInfo01">无限触发</button>
    <br>
    <!--    事件只触发一次-->
    <button @click.once="showInfo01">只触发一次</button><br><br>
    <!--    键盘事件-->
    <label>
        <!--        组合键-->
        <input type="text" @keyup.ctrl.y="showInfo02"><br><br>
    </label>
    <!--    计算函数-->
    <label>
        <input type="text" v-model="firstName"><br><br>
        <input type="text" v-model="lastName"><br><br>
    </label>
    <p>{{fullName}}</p><br>

</div>
<script type="text/javascript">
    const vm = new Vue({
        el: "#root",
        data: {
            name: '插值语法',
            firstName: '张',
            lastName: '三',
            tow: {
                url: 'https://www.baidu.com/',
                name: '百度'
            }
        },
        //函数写法
        methods: {
            showInfo(event) {
                alert("哈喽!")
            },
            showInfo01(e) {
                alert("您好同学!")
            },
            showInfo02(e) {
                //编码和按键名称
                console.log(e.keyCode, e.key)
                //输入框的值
                console.log(e.target.value)
            }
        },
        computed: {
            fullName: {
                get() {
                    console.log("调用get")
                    return this.firstName + "-" + this.lastName
                },
                set(value){
                    const arr=value.split
                    this.firstName=arr[0]
                    this.lastName=arr[1]
                }
            }
        }
    })
    //data的另一种写法
    //     data() {
    //         return {
    //             name: '插值语法',
    //             tow: {
    //                 url: 'https://www.baidu.com/',
    //                 name: '百度'
    //             },
    //             }
    //         }
    // })
    //   el的另一种写法
    // x.$mount("#root")
</script>
</body>
</html>